/* Set box-sizing to border-box */
* {
  box-sizing: border-box;
}

/* Default styles for all screen sizes */
section {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 1.75em;
  padding: 10px;
}

section {
  position: relative;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  background-color: grey;
}

h2 {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 1.25em;
}

section:nth-child(2) h2 {
  background-color: yellow;
}

section:nth-child(3) h2 {
  background-color: green;
}

section:nth-child(4) h2 {
  background-color: blue;
}

p {
  margin-top: 50px;
  font-size: 1em;
}

/* Desktop view */
@media (min-width: 992px) {
  section {
    width: calc(33.33% - 20px);
    float: left;
  }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
  section {
    width: calc(50% - 20px);
    float: left;
  }

  section:last-child {
    width: calc(100% - 20px);
    clear: both;
  }
}

/* Mobile view */
@media (max-width: 767px) {
  section {
    width: calc(100% - 20px);
  }
}
